.tableview table tr td {
	padding: 8px 20px;
}
.tableview, #addview {
	margin: 20px 40px;
} 
.tableview table tr th {
	text-align: center;
	padding: 5px 9px;
	background-color: #B2CFD8;
}
.tableview tr:nth-child(2n+1) {
	background-color: #e6eff2;
}
a#edit_student {
	text-decoration: none;
	color: #E5E5E5;
	background-color: #377082;
	padding: 3px 19px 3px 19px;
	border-radius: 5px;
}
a#delete_student {
	text-decoration: none;
	color: #E5E5E5;
	background-color: #bc3e3e;
	padding: 3px 19px 3px 19px;
	border-radius: 5px;
}
.addform label {
	width: 13%;
	float: left;
	margin-top: 4px;
}
input[type="file"] {
	display: inline-block !important;
}
.modal-body.addform input {
	margin-bottom: 9px;
}
/*.modal-body.addform
{
    display: block;
    text-align: center;
}
form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}*/
/*form{
margin-left: 25%;
margin-right:25%;
width: 50%;
}*/

/*login form*/
#form_login input {
	padding: 9px;
	 margin-bottom: 14px; 
	border: 1px solid #ccc;
	border-radius: 6px;
	width: 84.5%;
}
#login {
	width: 420px;
	border: 1px solid #ccc;
	border-radius: 10px;
	/* padding: 10px 40px 25px; */
	text-align: center;
	margin: 90px auto;
	/* padding: 0px 1px 46px; */
}
h2#login_heading {
	background-color: #FEFFED;
	border-bottom: 1px solid #ccc;
	margin: 0px;
	border-radius: 11px 11px 0px 0px;
	padding: 25px;
}
#form_login label {
	float: left;
	width: 132px;
}
#form_login {
	padding: 25px 14px 45px;
}
#submit_login {
	background-color: #FFBC00 !important;
	color: #fff;
	border: 2px solid #FFBC00 !important;
	font-weight: bold;
	font-size: 17px;
}
#sign_up {
	float: left;
	width: 196px;
}
/*login form end*/